<section class="contact-section">
  <div class="contact-title">Get In Touch</div>
  <div class="contact-subtitle">
    Focused On <span class="highlight">Front-End Development</span>.<br />
    Let’s Connect And Bring Your Project To Life!
  </div>
  <div class="contact-actions">
    <a mat-stroked-button color="primary" href="mailto:tvd999@yahoo.in" class="contact-btn">
      <mat-icon>mail</mat-icon> Email
    </a>
    <a mat-stroked-button color="primary" href="https://www.linkedin.com/in/tejas-deshmukh97/" target="_blank" class="contact-btn">
      <mat-icon>person</mat-icon> LinkedIn
    </a>
    <a mat-stroked-button color="primary" href="#" class="contact-btn">
      <mat-icon>description</mat-icon> Resume
    </a>
  </div>
  <div class="contact-footer">
    Designed and Developed by Tejas Deshmukh.
  </div>
</section>
