<header class="header-container">
  <div class="logo">
    <span class="logo-text typing-effect">
      <span class="green-bracket">{{ '{' }}</span><span class="typed-text" #typedText></span><span class="wave-hand"> 👋</span><span class="green-bracket">{{ '}' }}</span>
    </span>
  </div>
  <nav class="nav-links">
    <a mat-button routerLink="#" class="nav-link">Home</a>
    <a mat-button routerLink="#projects" class="nav-link">Projects</a>
    <a mat-button routerLink="#about" class="nav-link">About me</a>
  </nav>
</header>
