<header class="header-container">
  <div class="logo">
    <span class="logo-text typing-effect">
      <span class="green-bracket">{{ '{' }}</span><span class="typed-text" #typedText></span><span class="wave-hand"> 👋</span><span class="green-bracket">{{ '}' }}</span>
    </span>
  </div>
  <nav class="nav-links">
    <a mat-button href="#projects" class="nav-link">Projects</a>
    <a mat-button href="#about" class="nav-link">About me</a>
    <a mat-button href="#contact" class="nav-link">Contact Me</a>
  </nav>
</header>
